<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}"></html>

{%- include head.html -%}

{%- include navigation.html -%}
<body id="page-top">
    
    {% comment %} {%- include resume.html -%} {% endcomment %}
    {{ content }}
    {% comment %} Bootstrap core JS {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    {% comment %} Core theme JS {% endcomment %}
    {%- include scripts/navbar.html -%}
</body>